<div class="container">
    <ng-container *ngFor="let vehicle of vehicles">
            <div class="vehicle" (click)="onVechiledSelected(vehicle)">
                <img src={{vehicle.imageUrl[0]}} alt="">
                <div class="details">
                    Vehicle: {{vehicle.vehicle}}<br>
                    Year: {{vehicle.year}}<br>
                    <span class="price">Price: ${{vehicle.price}}</span>
                </div>
        </div>
    </ng-container>
    <div *ngIf="vehicles.length==0">
        <h1>No match found</h1>
    </div>
</div>